/* Style générale */
body {
    background: black url("/public/images/stars.jpg");
}

.starwars-demo {
    height: 17em;
    left: 50%;
    position: absolute;
    top: 53%;
    transform: translate(-50%, -50%);
    width: 34em;
}

.byline span {
    display: inline-block;
}

.starwars-demo img {
    width: 100%;
}

.star, .wars, .byline {
    position: absolute;
}

.star {
    top: -0.75em;
}

.wars {
    bottom: -0.25em;
}

.byline {
    color: #fff;
    font-family: "ITC Serif Gothic", Lato;
    font-size: 2em;
    left: -2em;
    letter-spacing: 0.4em;
    right: -2em;
    text-align: center;
    text-transform: uppercase;
    top: 29%;
}

.starwars-demo a{
    position: absolute;
    bottom: -15%;
    left: 110px;


    font-family: "ITC Serif Gothic", Lato;
    font-size: 15px;
    letter-spacing: 0.4em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;

}
/* Keyframes */
@keyframes star {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    20% {
        opacity: 1;
    }
    89% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes wars {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes spin-letters {
    0%, 10% {
        opacity: 0;
        transform: rotateY(90deg);
    }
    30% {
        opacity: 1;
    }
    70%, 86% {
        transform: rotateY(0);
        opacity: 1;
    }
}

@keyframes linkFade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    80% {
        opacity: 1%;
    }
    90% {
        opacity: 1;
    }
}

/* Animation properties */
.star {
    animation: star 8s ease-out;
}
.wars {
    animation: wars 8s ease-out;
}
.byline span {
    animation: spin-letters 8s linear;
}

.starwars-demo a{
    animation: linkFade 8s ease-out;
}